@import "../01-settings/settings-colors.scss";

.c-dotted-line--vertical--secondary-color {
    margin: 0 32px;
    border-left: 10px dotted $secondary-100;
}

.c-dotted-line--horizontal--secondary-color {
    margin: 32px 0;
    border-top: 10px dotted $secondary-100;
}

.u-dotted-line--horizontal--primary-color {
    border-top: 10px dotted $primary-50;
}
