@import "../01-settings/settings-colors.scss";

.btn {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    border: none;
    outline: none;
    padding: 10px 22px;
    text-transform: uppercase;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.btn--secondary {
    background: $secondary-800;
    color: #fff;
}

.btn--primary {
    background: white;
    border: 1px solid $secondary-800;
    color: $secondary-800;
    box-shadow: none;
}
