@import "../../01-settings/settings-colors.scss";

.c-contacts__how-to-get-to {
    background-color: $secondary-50;

    &__wrapper {
        margin-top: 96px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: max-content max-content;
        grid-column-gap: 33px;
        grid-row-gap: 48px;
        h2,
        h3 {
            color: $primary-300;
        }

        &__title {
            grid-column: 1 / 4;
            justify-self: center;
        }
    }
}
