@import "../../01-settings/settings-colors.scss";

.c-contacts__write-us__wrapper {
    max-width: 850px;
    margin: 96px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content max-content max-content max-content;
    grid-gap: 32px;

    &__header {
        grid-column: 1 / 3;
        color: $primary-300;
        justify-self: center;
    }

    &__title,
    &__email,
    &__text {
        border-color: $grey-500;
    }

    &__text {
        height: 190px;
        grid-column: 1 / 3;
        resize: none;
    }

    &__btn {
        grid-column: 1 / 3;
        max-width: 140px;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
    }
}
