@font-face {
    font-family: "Lato";
    src: url("./../assets/fonts/Lato2OFLWeb/Lato2OFLWeb/Lato/fonts/Lato-Medium.woff2") format("woff2");
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("./../assets/fonts/fontawesome-free-5.14.0-web/fontawesome-free-5.14.0-web/css/all.css");
@import "../01-settings/settings-colors.scss";

html,
* {
    font-family: "Lato";
}

a,
button {
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
}

a {
    font-weight: 600;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: $grey-700;
}

button {
    font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    color: $grey-700;
    margin: 0;
}

h1,
.h1-like {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

h2,
.h2-like {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
}

h3,
.h3-like {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

h4,
.h4-like {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

h5,
.h4-like {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
