.u-fade-in {
    animation: fade-in 1.5s forwards 1 ease-out;
    opacity: 0;

    &--delay-500 {
        animation-delay: 500ms;
    }

    &--delay-1000 {
        animation-delay: 1000ms;
    }

    $i: 100;
    @while $i < 2100 {
        &--delay-#{$i} {
            animation-delay: #{$i}ms;
        }

      $i: $i + 100;
    }
}

.u-fade-in {
    animation: fade 1.5s forwards 1 ease-out;
    opacity: 0;
    &--delay-500{
        animation-delay: 500ms;
    }
}